.Aboutpg-container{
    margin-top:20px;
    margin-left:0px;
}
.aboutdesc{
  margin-top:10px;
  padding:3px;
}
.aboutdesc p{
    font-size:13px;
  } 
.aboutdesc h4{
    position: relative;
    display: inline-block;
    font-size:25px;
    padding:5px 100px;
}
.aboutdesc h4::before{
position: absolute;
content:'';
height:1px;
background-color: black;
width:100px;
left:-8%;
top:50%;
}
.aboutdesc h4::after{
    position: absolute;
    content:'';
    height:1px;
    background-color: black;
    width:400px;
    left:75%;
    top:50%;
}
.aboutdesc p{
    line-height:30px;
    width:85%;
    margin-top:10px;
    margin-left:40px;
}
.contactbtn{
    width: 212px;
    height: 37px;
    border-radius: 0px 30px 0px 30px;
    color: black;
    background-color: rgb(177, 177, 177);
    outline: none;
    border: none;
    font-size:15px;
    cursor: pointer;
    margin-top:2%;
    margin-left:75%;
}
.teamsection{
    margin:20px 0px;
}
.teamsection h4{
        position: relative;
        display: inline-block;
        font-size:25px;
        align-items: center;
        padding:3px 100px;
}
.teamsection h4::before{
    position: absolute;
    content:'';
    height:1px;
    background-color: black;
    width:100px;
    left:-8%;
    top:50%;
    }
.teamsection h4::after{
        position: absolute;
        content:'';
        height:1px;
        background-color: black;
        width:400px;
        left:75%;
        top:50%;
}
.teamcontent{
    display: flex;
    gap:15px;
}
.teamcontent img{
    border:solid 15px #4d4c4c;
    border-radius:15%;
    margin-left:40px;
    margin-top:30px;
}
 .teamwork{
    margin-top:-40px;
} 
.teamname{
    display: flex;
    align-items: center;
    gap:15px;
}
.teamname h6{
 font-size: 25px;
 font-weight: lighter;
 
}
.teamwork ul{
    margin-left:40px;
}
.teamwork ul li{
    list-style-type: none;
    line-height:40px;
}
@media(max-width:700px) {
    .aboutdesc h4{
        position: relative;
        display: inline-block;
        font-size:15px;
        padding:5px 55px;
    }
    .aboutdesc h4::before{
        position: absolute;
        content:'';
        height:1px;
        background-color: black;
        width:60px;
        left:-8%;
        top:50%;
        }
        .aboutdesc h4::after{
            position: absolute;
            content:'';
            height:1px;
            background-color: black;
            width:200px;
            left:75%;
            top:50%;
        }
        .aboutdesc p{
            text-align:justify;
            font-size:9px;
        }
        .contactbtn{
        width: 100px;
        height: 17px;
        font-size:10px;
        }
        .teamsection h4{
            position: relative;
            display: inline-block;
            font-size:15px;
            padding:0px 55px;
        }
        .teamsection h4::before{
            position: absolute;
            content:'';
            height:1px;
            background-color: black;
            width:60px;
            left:-8%;
            top:50%;
            }
            .teamsection h4::after{
                position: absolute;
                content:'';
                height:1px;
                background-color: black;
                width:200px;
                left:75%;
                top:50%;
            }
            .teamcontent img{
                width:150px;
                height:150px;
                border:solid 10px #4d4c4c;
            }
            .teamname h6{
                font-size: 13px;
                font-weight: lighter; 
               }
               .teamwork ul li{
                line-height:13px;
                font-size:10px;
            }
            
}
